category-encoders==2.2.2
Cython==0.29.22
jedi==0.17.2
jupyter==1.0.0
matplotlib==3.3.4
notebook==6.4.1
numpy==1.20.1
pandas==1.2.2
pymfe==0.4.1
scikit-learn==0.24.1
torch==1.7.1
tqdm==4.58.0
wandb==0.10.23
lightgbm==3.2.0
fastprogress
tensorboard
